html
  head
    title Resumé of Brent Rockwood
    link(rel='stylesheet', type='text/css', href='styles.css')
    script(src="https://use.fontawesome.com/5eacc9f251.js")
  body
    header
      h1 Brent Rockwood
      address
        h2 2814 Preston Lake Drive, Tucker, GA, 30084
        h2 brent@brentrockwood.com
        h2 +1 404 960 2864

    section.overview
      p Full stack developer specializing in MEAN and Microsoft technologies.

    section.jobs
      h3 Notable Recent Projects

      .job
        h4 Identity Management Connectors — State of Colorado

        p.description Wrote custom code to synchronize user data between Dell One Identity Manager, Google Apps, and CA Service Desk.

        ul.tech
          li VB.Net
          li Google Apps SDK
          li CA Service Desk SDK

      .job
        h4 AngularJS Directives — Liberty Mutual

        p Developed AngularJS directives for use in a large underwriting application, interfacing with legacy Java REST services.

        ul.tech
          li AngularJS
          li Gulp

      .job
        h4 Election Reporting Application — City of Halifax

        p Led from-scratch development of an app to collect data from mobile devices and report up-to-the minute results in municipal elections.

        ul.tech
          li C#
          li ASP.Net WebApi
          li AngularJS

      .job
        h4 Bitcoin Mining Marketplace — GAW Miners

        p Back end development of a consumer-facing app to buy and sell cloud-based Bitcoin mining resources.

        ul.tech
          li NodeJS
          li Express
          li AngularJS
          li MongoDb
          li Redis
          li MySQL

      .job
        h4 Consumer-facing Storytelling App — Umenta

        p Led a startup team developing AngularJS front-ends, NodeJS server components, with integration with third party telephony and scheduling services.

        p I instituted a Scrum-like process, with daily deployments to production.  All work was done remotely.  In addition to my development tasks, I managed all operational infrastructure, primarily in Amazon Web Services and Heroku.

        ul.tech
          li NodeJS
          li CoffeeScript
          li AngularJS
          li MongoDB
 
      .job
        h4 Identity Management Connectors — Cenovus Energy

        p Working as a specialist on a domain migration for a large oil company, I wrote custom software to synchronize Quest One Identity Manager with client's existing infrastructure.

        ul.tech
          li VB.Net
          li SQL Server
          li ADSI

      .job
        h3 2004-2012 — Senior Developer — Quest Software/Dell Software

        p I worked on the product teams for four products here.

        h4 Quest One Identity Manager - Data Governance Edition

        p This was a large, multi-server product designed to audit usage and classify protected unstructured data on remote NTFS shares and Sharepoint farms.  It involved interfacing with other large teams all over the world. 

        p In addition to my daily development duties, I contributed heavily to a complex daily build process.

        ul.tech
          li C#
          li C++
          li MSBuild
          li Windows Installer XML (WIX)
          li Windows kernel development

      .job
        h4 Quest Collaboration Services

        p I took over this product as technical lead after a previous team had difficulty maintaining it at the required minimum service level.  The product was designed to synchronize contact and calendar data between Microsoft Exchange servers without any security changes or trusts required between the participating organizations.

        p The product had been built in Russia by a team that no longer existed.  Due to a problem during a code migration before I received the product, all comments and documentation were lost from the code, which weighed in at about 150,000 significant lines.  In addition, the product, written entirely in C++, used undocumented and unsupported MAPI interfaces to communicate with Exchange.

        p Working with one other developer and two testers, we were able to release versions extending support for Exchange 2010, along with numerous bug-fix releases. In addition, we provided 24-7 support to all customers around the world.

        ul.tech
          li C++
          li MAPI

        h4 Quest Access Manager

        p I worked on this product team for one year. Access Manager was the predecessor to the Data Governance product listed above. Many of the components were reused by the later product. Access Manager did not contain the SharePoint or data classification components, and was a standalone product with a user interface built into Microsoft Management console (MMC).

        ul.tech
          li C#
          li MMC

        h4 Quest Group Policy Manager

        p I worked on this product team for two years. Group Policy Manager was the predecessor to a product now known as Quest GPOAdmin. Starting from scratch, and with significant competition in the marketplace, we built it into the world's leading third-party Group Policy management tool. It was primarily a Group Policy version control tool, offering policy comparison, workflow, and deployment features. The team was comprised of four developers and one tester.

        p A client-server design, most code was written in C#, with some C++ for policy setting injection. We heavily leveraged the API's provided by Microsoft with their Group Policy Management Console. For functionality that could not be provided by the public API's, we reverse engineered the GPO structures in Active Directory.

        p The user interface was presented as an MMC snap-in, with HTML used for reporting purposes.

        ul.tech
          li C#
          li MMC
          li ADSI
          li Group Policy

      .job
        h3 2003-2004 — Nicom — Software Developer

        p Provided performance analysis and troubleshooting on a large web-based CRM system for a regional telecom provider. This work was primarily comprised of analyzing the threading code while in production and modifying DCOM settings to avoid thread starvation under heavy customer load. Code was written in VB.Net and stored in Visual SourceSafe.

        ul.tech
          li VB.Net
          li ASP Classic

        p Subcontracted to a GIS software developer where I delivered a land-management/permitting application for a small city. Project had been troubled, with over three years history of non-delivery. Working alone, and starting largely from scratch, I was able to complete the project within three months. All code was written in a language proprietary to the client which I had never seen before. Tooling consisted of a text editor and StarTeam for source control.

        ul.tech
          li Custom language

      .job
        h3 1999-2001 — Microforum — Software Developer

        p Built two e-commerce sites.

        p Built two content management systems for a large insurance industry customer.

        p Built proof-of-concept for RSS news aggregation product.

        ul.tech
          li VB6
          li Microsoft Commerce Server
          li SQL Server

      .job
        h3 1997-1999 — Mount Sinai School of Medicine — Systems Analyst

        p Developed data collection software for national surgical and pharmaceutical trials sponsored by the US NIH and FDA.

        p Provided technical support services for the Department of Neurology.

        ul.tech
          li Visual Basic for Applications
          li Microsoft Access
          li VB6
          li ASP Classic
          li Oracle

      .job
        h3 1990-1997 — Rockwood Electronics — Junior Partner

        p Worked in all aspects of family business. Built custom PC hardware and provided technical support to legal and medical research clients.

    h2 Education

    h3 1993-1995 — Technical University of Nova Scotia — Computer Engineering

    p I attended two years of this program before returning to the work force.
