html
  head
    title Resumé of Brent Rockwood
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    header
      h1 Brent Rockwood
      h2 2814 Preston Lake Drive, Tucker, GA, 30084
      h2 brent@brentrockwood.com
      h2 +1 404 960 2864

    section.overview
      h3 Overview
      p I have been developing software professionally for two decades.  My primary areas of experience include modern web technologies and security.  I have been lucky to participate in and lead teams which have delivered on-time with high quality—release after release.

      p I am currently available for contract and permanent positions.

    section.jobs
      h3 Employment

      .job
        h4 2001-Present
        h4 Brent Rockwood Software

        p Notable recent projects include:

        h5 Identity Management Consultation for State Government

        p Installing and configuring Dell One Identity Manager as part of a large identity consolidation for a western state.

        h5 Front-End Development for Fortune 50 Insurance Company

        p Developing AngularJS directives for use in a large underwriting application, and interfacing with legacy Java REST services.

        h5 Web-based Election Reporting Application for Canadian City

        p From-scratch development of an app to report up-to-the minute results in municipal elections.  Front-end developed in AngularJS, back-end in .NET Web API.

        h5 Web-based Bitcoin Mining Marketplace

        p Worked on a startup team developing AngularJS front-ends, and NodeJs server components.  Much of the data layer was MongoDb and Redis.

        h5 Web-based Consumer-facing Storytelling App

        p Worked on a startup team developing AngularJS front-ends, NodeJS server components, with integration with third party telephony and scheduling services.

        p I instituted a Scrum-like process, with daily deployments to production.  All work was done remotely.  In addition to my development tasks, I managed all operational infrastructure, primarily in Amazon Web Services and Heroku.

      .job
        h4 October/November 2012
        h4 Identity Management Consultant
        h4 Cenovus Energy/Encana

        p Working as a specialist on a large domain migration, I wrote custom software to integrate Quest One Identity Manager into the client's existing infrastructure.

      .job
        h4 2004-2012
        h4 Senior Developer
        h4 Quest Software/Dell Software

        p I worked on the product teams for four products here.

        h5 Quest One Identity Manager - Data Governance Edition

        p This was a large, multi-server product designed to audit usage and classify protected unstructured data on remote NTFS shares and Sharepoint farms.  It involved interfacing with other large teams all over the world.  Written primarily in C#, portions of the code were written in C for performance—including a Windows kernel driver.

        p In addition to my daily development duties, I contributed heavily to a complex daily build process.

        h5 Quest Collaboration Services

        p I took over this product as technical lead after a previous team had difficulty maintaining it at the required minimum service level.  The product was designed to synchronize contact and calendar data between Microsoft Exchange servers without any security changes or trusts required between the participating organizations.

        p The product had been built in Russia by a team that no longer existed.  Due to a problem during a code migration before I received the product, all comments and documentation were lost from the code, which weighed in at about 150,000 significant lines.  In addition, the product, written entirely in C++, used undocumented and unsupported MAPI interfaces to communicate with Exchange.

        p Working with one other developer and two testers, we were able to release versions extending support for Exchange 2010, along with numerous bug-fix releases. In addition, we provided 24-7 support to all customers around the world.

        h5 Quest Access Manager

        p I worked on this product team for one year. Access Manager was the predecessor to the Data Governance product listed above. Many of the components were reused by the later product. Access Manager did not contain the SharePoint or data classification components, and was a standalone product with a user interface built into Microsoft Management console (MMC).

        h5 Quest Group Policy Manager

        p I worked on this product team for two years. Group Policy Manager was the predecessor to a product now known as Quest GPOAdmin. Starting from scratch, and with significant competition in the marketplace, we built it into the world's leading third-party Group Policy management tool. It was primarily a Group Policy version control tool, offering policy comparison, workflow, and deployment features. The team was comprised of four developers and one tester.

        p A client-server design, most code was written in C#, with some C++ for policy setting injection. We heavily leveraged the API's provided by Microsoft with their Group Policy Management Console. For functionality that could not be provided by the public API's, we reverse engineered the GPO structures in Active Directory.

        p The user interface was presented as an MMC snap-in, with HTML used for reporting purposes.

      .job
        h4 2003-2004
        h4 Nicom
        h4 Software Developer

        p Provided performance analysis and troubleshooting on a large web-based CRM system for a regional telecom provider. This work was primarily comprised of analyzing the threading code while in production and modifying DCOM settings to avoid thread starvation under heavy customer load. Code was written in VB.Net and stored in Visual SourceSafe.

        p Subcontracted to a GIS software developer where I delivered a land-management/permitting application for a small city. Project had been troubled, with over three years history of non-delivery. Working alone, and starting largely from scratch, I was able to complete the project within three months. All code was written in a language proprietary to the client which I had never seen before. Tooling consisted of a text editor and StarTeam for source control.

      .job
        h4 1999-2001
        h4 Microforum
        h4 Software Developer

        p Built two e-commerce sites using Microsoft Commerce Server.

        p Built two content management systems for a large insurance industry customer.

        p Built proof-of-concept for RSS news aggregation product.

      .job
        h4 1997-1999
        h4 Mount Sinai School of Medicine - New York City
        h4 Systems Analyst

        p Designed data collection protocols for national surgical and pharmaceutical trials sponsored by the National Institutes of Health and the US Food and Drug Administration.

        p Developed reporting software for reporting trial safety and efficacy.

        p Early projects used Microsoft Access/VBA. Later we migrated to ASP/VB6/Oracle.

        p Provided technical support services for the Department of Neurology.

      .job
        h4 1990-1997
        h4 Rockwood Electronics
        h4 Junior Partner

        p Worked in all aspects of family business.

        p Built custom PC hardware and provided technical support to legal and medical research clients.

    section.tech
      h3 Major Technology Experience

      h4 Languages

      ul  
        li C#
        li C/C++
        li JavaScript/CoffeeScript
        li Ruby
        li Python
        li PowerShell
        li Bash/sh
        li VB/VB.Net/VBScript
        li Windows Installer XML

      h4 Web Frameworks and Technologies

      ul
        li HTML5
        li jQuery
        li Node.js
        li Express
        li Angular.js
        li Windows Communications Foundation
        li ASP/ASP.Net
        li Bespoke IIS web servers
        li Responsive design
        li Unobtrusive JavaScript
        li REST web services
        li OAuth/OpenID/Facebook Connect
        li GData/Google Maps
        li Nginx
        li PHP

      h4 Databases and Data Layers

      ul
        li SQL Server
        li Oracle
        li MySQL
        li SQLite
        li PostgreSQL
        li MongoDB
        li CouchDB
        li Redis

      h4 Source Control

      ul
        li Git
        li Team Foundation Server
        li Subversion
        li StarTeam
        li SourceSafe

      ul
        li Gulp
        li Grunt
        li Team Build/MSBuild
        li Make

      ul
        li Vows.js
        li Jasmine
        li Cucumber
        li Rspec
        li MSTest
        li SpecFlow

      h4 Additional API's

      ul
        li LDAP/ADSI
        li COM/DCOM
        li SharePoint
        li MAPI

      p ...and many more...

    section.education

      h3 Education

      h4 Technical University of Nova Scotia
      h4 Bachelor of Computer Engineering Program
      h4 1993-1995

      p I attended two years of this program before leaving to return to the work force.
